.map-controls {
    display: flex;
    border: 1px solid #b5b5b5;
    width: 80px;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 25px;
    background: white;
}

.zoom-control {
    padding: 10px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.map {
    width: 80%; 
    height: 100%; 
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    position: relative;
    margin-left: 5px;
    background-color: white;
}

.main-data {
    display: flex;
}

path.selected {
    fill: #5ec164 !important;
}

.county {
  text-align: center;
  font-weight: bold;
}